{% extends '::base.html.twig' %}
{% block title %}.::Etiquetas::.!{% endblock %}
{% block contenido -%}
<div class="row wrapper border-bottom white-bg page-heading">
<div class="col-lg-10">
<h2>Mac</h2>
<ol class="breadcrumb">
<li>
<a href="{{ path('homepage') }}">Home</a>
</li>
<li>
<a>Agregar</a>
</li>
<li class="active">
<strong>Mac</strong>
</li>
</ol>
</div>
<div class="col-lg-2">
</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
<h5>Formulario de Mac</h5>
<a href="{{ path('maclist') }}" style="margin-left: 70px;" class="btn btn-danger btn-circle" title="Regresar al listado">
<i class="fa fa-arrow-circle-o-left"></i>
</a>
<div class="ibox-tools">
<a class="collapse-link">
<i class="fa fa-chevron-up"></i>
</a>
<a class="close-link">
<i class="fa fa-times"></i>
</a>
</div>
</div>
<div class="ibox-content">
<form method="POST" action="{{ path('maclist_create') }}">
<div class="form-group">
<label class="col-sm-2 control-label">DISPOSITION</label>
<div class="col-sm-10">
<input type="text" name="txtAction" placeholder="DISPOSITION">
<span class="help-block m-b-none"></span>
</div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group">
<label class="col-sm-2 control-label">INTERFACE</label>
<div class="col-sm-10">
<input type="text" name="txtInterface" placeholder="INTERFACE">
<span class="help-block m-b-none"></span>
</div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group">
<label class="col-sm-2 control-label">MAC</label>
<div class="col-sm-10">
<input type='text' id='id__mac' name='txtMac'  class='' value="" size='20' maxlength='17' title='Address' placeholder="MAC" onKeyUp="javascript:validateMAC('id__mac')"  />
<!--<input type="text" name="txtMac" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" maxlength="17" >-->
<span class="help-block m-b-none"></span>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label">IP ADDRESSES </label>
<div class="col-sm-10">
<input type='text' id='id_ip' name='ip'  class='' value="" size='20' maxlength='15' title='Address' placeholder="IP" onKeyUp="javascript:validateIp('id_ip')" />
<span class="help-block m-b-none"></span>
</div>
</div>
<div class="hr-line-dashed"></div>
<a href="{{ path('maclist') }}" class="btn btn-w-m btn-warning"><i class="fa fa-warning"></i> Cancelar</a>
<button type="submit" class="btn btn-primary" data-original-title="Guardar transaccion"><i class="fa fa-plus-square"></i> Guardar</button>
</form>
</div>
</div>
</div>
</div>
{% endblock %}

